table, th, td, tr{
  border-bottom: 1px solid black;
  height:16px;
}

tr:nth-child(odd){background-color:#ffaaaa} 

.button1 {
  background-color:#d4ee9f;
  text-align:center;
  font-size:26px;
  border-radius:50%;
}

.modal {
  display:none;
  position:fixed;
  z-index:1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color:#fefefe;
  top:0;
  left:20%;
  height:80%;
  position:absolute;
  overflow-y:scroll;
 }


#THVtable{
  display:inline-block;
}

#chart{
  width:750px;
  height:360px;
  float:right;
  vertical-align:top;
  display:inline-block;
}

#chartdate{
  float:right;
  vertical-align:bottom;
  display:inline-block;
}
